<h1>Cart</h1>

<% if !@items.empty? %>
<center>
<table class = "cart-items">
  <tr>
    <th>Item</th>
    <th>Sold By</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Subtotal</th>
  </tr>
  <% @items.each do |item,quantity| %>
    <tr id= "cart-item-<%=item.id%>">
      <td>
        <p align = "center">
          <span>
            <img align = "center" id="cart-image" src= <%= item.image %>>
            <%=link_to item.name, "/items/#{item.id}" %>
          </span>
        </p>
      </td>
      <td>
        <p align = "center">
          <%=link_to item.merchant.name, "/merchants/#{item.merchant.id}"%>
        </p>
      </td>
      <td>
        <p><%=number_to_currency(item.price)%></p>
      </td>
      <td>
        <center>
          <p><%=quantity%></p>
          <p>
            <%= link_to "+", "/cart/#{item.id}/increment", method: :patch %>
            <%= link_to "-", "/cart/#{item.id}/decrement", method: :patch %>
          </p>
          <p><%= link_to "Remove", "/cart/#{item.id}",method: :delete %></p>
        </center>
        </td>
      <td>
        <p><%=number_to_currency(cart.subtotal(item))%></p>
    </td>
    </tr>
  <% end %>
</table>
  <p>Total: <%= number_to_currency(cart.total) %></p>
  <p><%= link_to "Empty Cart", "/cart", method: :delete %></p>
  <% if !(current_user.nil?) && !(session[:address].nil?) %>
    <p><%= link_to "Checkout", '/profile/orders/new', method: :get %></p>
  <% end %>
<% else %>
  <h3 align= "center">Cart is currently empty</h3>
<% end %>
<table>
<% if session[:address].nil? %>
  <h2>Choose a shipping address:</h2>
  <section class="grid-container">
    <% if @user %>
      <% @user.addresses.each do |address| %>
        <section class = "grid-item" id= 'address-<%=address.id%>'>
          <h2><%= address.nickname.capitalize %></h2>
          <p><%=  address.name %></p>
          <p><%= address.street_address %></p>
          <p><%= address.city %>, <%= address.state %> <%= address.zipcode %></p>
          <%= link_to "Choose This Address", "/cart/addresses/#{address.id}/add", method: :patch, class: "btn btn-success" %>
        </section>
      <% end %>
    <% end %>
  </section>
<% end %>
<% if @user && @user.addresses.empty? %>
  <p>You need to create a shipping address in order to checkout</p>
  <%= link_to "Create a New Shipping Address", "/profile/addresses", class: "btn btn-success" %>
<% end %>
</center>
