<h1> Welcome, <%= @admin_user.name %>!</h1>
<br>
<br>
<h1 align = "center">Order Information</h1>
<center>
  <table>
    <tr>
      <th>User</th>
      <th>Order ID</th>
      <th>Created At</th>
      <th>Status</th>
    </tr>
  <% @orders.each do |order|%>
  <section id= "orders-<%=order.id%>">
      <tr>
        <td><%=link_to order.find_user_name, profile_path%></td>
        <td><%= order.id %></td>
        <td><%= order.created_at%></td>
        <td><%= order.status %></td>
      </tr>
    </section>
  <% end %>
</table>
