<h1> Welcome, <%= @admin_user.name %>!</h1>
<br>
<br>
<h1 align = "center">Order Information</h1>
<center>
  <table>
    <tr>
      <th>User</th>
      <th>Order ID</th>
      <th>Created At</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  <% @orders.each_with_index do |order, index|%>
  <section id= "orders-<%=order.id%>-<%= index + 1 %>">
      <tr>
        <td><%=link_to order.users.first.name, admin_user_path(order.users.first)%></td>
        <td><%= order.id %></td>
        <td><%= order.created_at%></td>
        <td><%= order.status %></td>
        <% if order.status == "packaged" %>
          <td><%= button_to "Ship Item", "/admin/orders/#{order.id}/update_status", method: :patch %> </td>
        <% else %>
          <td> No Action Available </td>
        <% end %>
      </tr>
    </section>
  <% end %>
</table>
