<div class="jumbotron">
  <section id="user-info-<%=@user.id %>">
    <h1 class="display-4">Hello, <%= @user.name %>!</h1>
    <br>

    <%= image_tag profile_img.sample, class: 'profile-img' %>
    <br>
    <center>
      <p class="lead">Address: <%= @user.address %></p>
      <p class="lead">City: <%= @user.city %></p>
      <p class="lead">State: <%= @user.state %></p>
      <p class="lead">Zipcode: <%= @user.zipcode %></p>
      <p class="lead">Email: <%= @user.email %></p>
    </center>
  </section>
<br>
<center>
  <section id= "user-profile-actions">
    <%= link_to "Edit Password", "profile/edit_password", class: "btn btn-success" %>

    <%= link_to "Edit Profile", "profile/edit", class: "lead btn btn-info" %>

    <%= link_to "My Orders", "/profile/orders", class: "btn btn-secondary" %>
  </section>
</center>
</div>

<center>
  <h2>My Shipping Addresses</h2>
</center>
<%  if @user.addresses.empty? %>
  <center>
  <h3>You have no shipping addresses</h3>
  </center>
<% else %>
  <section class="grid-container">
    <% @user.addresses.each do |address| %>
      <section class = "grid-item" id= 'address-<%=address.id%>'>
        <h2><%= address.nickname.capitalize %></h2>
        <p><%=  address.name %></p>
        <p><%= address.street_address %></p>
        <p><%= address.city %>, <%= address.state %> <%= address.zipcode %></p>
      </section>
    <% end %>
  </section>
<% end %>
<center>
  <%= link_to "Create a New Shipping Address", "/profile/addresses", class: "btn btn-success" %>
</center>
