<% if @merchant %>
  <h1><%= link_to @merchant.name, "/merchants/#{@merchant.id}"%><span> Items</span></h1>
<% else %>
  <h1>All Items</h1>
<% end %>
<section class="grid-container">
  <% @items.each do |item| %>
    <% if item.active? %>
      <section class = "grid-item" id= 'item-<%=item.id%>'>
        <h2> <%=link_to item.name, item_path(item) %> </h2>
        <p>Sold by: <%=link_to item.merchant.name, merchant_path(item.merchant) %></p>
        <%= link_to item_path(item) do %>
           <%= image_tag item.image %>
        <% end %>
        <p> <%= item.description unless @merchant%> </p>
        <p>Price: <%=number_to_currency(item.price) %> </p>
        <p>Inventory: <%= item.inventory %> </p>
        <% if !@merchant %>
        <% end %>
        <% if item.active? %>
          <p>Active</p>
        <% else %>
          <p>Inactive</p>
        <% end %>
      </section>
    <% end %>
    <% end %>
</section>

<div class="container">
  <center>
  <h2 class="display-3">Item Statistics</h2>
  <table class="table">
  	<thead>
      	<tr>
      	<th scope="col">#</th>
      	<th scope="col">Top 5 Items</th>
      	<th scope="col">Quanity Sold</th>
      	</tr>
      	</thead>
        <section id="top_five"
      	<% @items.top_5.each_with_index do |item, i| %>
      	<tbody>
      	<tr>
      	<th scope="row"><%= i + 1 %></th>
      	<td><%= item.name %></td>
      	<td><%= item.popularity %></td>
      	</tr>
      	</tbody>
      	<% end %>
      </section>
  	</table>

    <br><br>

    <table class="table">
      	<thead>
      	<tr>
      	<th scope="col">#</th>
      	<th scope="col">Bottom 5 Items</th>
      	<th scope="col">Quanity Sold</th>
      	</tr>
      	</thead>
        <section id="bottom_five"
      	<% @items.bottom_5.each_with_index do |item, i| %>
      	<tbody>
      	<tr>
      	<th scope="row"><%= i + 1 %></th>
      	<td><%= item.name %></td>
      	<td><%= item.popularity %></td>
      	</tr>
      	</tbody>
      	<% end %>
      </section>
    </table>
  </center>
</div>
